@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Lato:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,700&family=Poppins:wght@100;400;700&family=Raleway:wght@400;700&family=Roboto+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto Light", sans-serif;
  font-size: 24px;
  font-weight: 700;
  scroll-behavior: smooth;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  background-image: url("../img/background.jpeg");
  background-size: cover;
  height: 1080px;
  background-repeat: no-repeat;
}

.menu {
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.menu_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  padding: 1px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
@media (max-width: 1420px) {
  .menu_form {
    gap: 100px;
  }
}
@media (max-width: 1420px) and (max-width: 1350px) {
  .menu_form {
    gap: 50px;
  }
}
@media (max-width: 1420px) and (max-width: 1350px) and (max-width: 1300px) {
  .menu_form {
    gap: 20px;
  }
}
@media (max-width: 1420px) and (max-width: 1350px) and (max-width: 1300px) and (max-width: 1200px) {
  .menu_form {
    gap: 10px;
  }
}
.menu_form a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.menu_form a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: orangered;
}

.main-index {
  position: relative;
}
.main-index h1 {
  margin-top: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
.main-index a {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.main-index a:hover {
  color: orangered;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
}
@media (max-width: 1090px) {
  .login {
    gap: 20px;
  }
}
@media (max-width: 1090px) and (max-width: 1078px) {
  .login {
    padding-right: 40px;
  }
}

.signUP {
  color: #ffffff;
  width: 120px;
  height: 40px;
  background: blue;
  padding: 7px 12px;
  border-radius: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.signUP:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: green;
}

.signIn {
  color: #ffffff;
  width: 100px;
  height: 40px;
  background-color: blue;
  padding: 7px 12px;
  border-radius: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.signIn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: green;
}

.main-info {
  position: absolute;
  margin: 150px 150px;
  width: 500px;
}
.main-info p {
  line-height: 35px;
  font-size: 16px;
  color: #ffffff;
}
.main-info a {
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.main-info a:hover {
  color: orangered;
}

.header {
  padding-top: 120px;
  background-image: url("../img/bg-header.jpeg");
  background-size: cover;
  height: 1350px;
}

.tovar_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1370px) {
  .tovar_block {
    gap: 30px;
  }
}
@media (max-width: 1370px) and (max-width: 1365px) {
  .tovar_block {
    gap: 10px;
  }
}
@media (max-width: 1370px) and (max-width: 1365px) and (max-width: 1340px) {
  .tovar_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tovar {
  background: rgba(0, 0, 0, 0.56);
  width: 300px;
  height: 500px;
  border-radius: 12px;
}
.tovar img {
  width: 280px;
  height: 250px;
  border-radius: 10px;
  margin: 0 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.waka-shop {
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #ffffff;
}

.info {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 25px;
}

.button {
  display: block;
  margin-top: 15px;
  border-radius: 8px;
  width: 90px;
  height: 30px;
  background: blue;
  padding: 3px 12px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  overflow: hidden;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: green;
}